:root {
    --primary-color: #41da88;
    --primary-color-dark: rgb(49, 165, 88);
    --back-color: rgb(51, 43, 43);
}

body {
    font-family: sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: var(--back-color);
}

h1 {
    color: var(--back-color);
}

.container {
    text-transform: uppercase;
    padding: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 50px auto;
    width: 70%;
    background-color: var(--primary-color);
    border-radius: 10px;
    box-shadow: 0px 0px 20px 2px #000000;
}

.logo-img {
    margin: auto;
    width: 90%;
}

#main-title {
    font-size: 70px;
    font-weight: 900;
    margin: 30px 0 60px 0;
    color: var(--back-color);
}

.inter-container {
    display: flex;
    flex-direction: row;
    min-width: 400px;
    width: 100%;
    border-radius: 10px;
}

.inter-container div {
    padding: 10px;
}

#camp1 {
    background: rgb(200, 207, 202);
    width: 30%;
    border-radius: 10px 0 0 10px;
    text-transform: none;
    display: flex;
    flex-direction: column;
}

#camp2 {
    background: #ebebeb;
    width: 70%;
    border-radius: 0 10px 10px 0;
}

#camp2 h1 {
    display: flex;
    justify-content: center;
}

input::placeholder {
    font-style: italic;
}


/*FORMULÁRIO*/

.form {
    padding: 10px 40px 0 40px;
    display: flex;
    flex-direction: column;
}

.form input {
    padding: 2px 2px 2px 10px;
    border-radius: 5px;
    border: none;
    min-width: 200px;
    height: 30px;
    border: 1px solid rgb(206, 206, 206);
}

.form label {
    margin-top: 20px;
}

.buttons {
    margin-top: 20px;
    display: flex;
    justify-content: space-evenly;
}

.form button {
    font-weight: bold;
    border: none;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    text-transform: uppercase;
    width: 100px;
    background: var(--primary-color-dark);
    transition: 0.1s;
}

.form button:hover {
    background-color: var(--back-color);
    color: #fff;
}


/*LIST ITENS*/

.list {
    margin: 50px auto;
    max-width: 800px;
}

.box {
    border-radius: 10px;
    border: 1px solid;
    margin-top: 50px;
    width: 100%;
    background: rgb(206, 205, 203);
}

.box img {
    width: 70%;
}

.description-item {
    display: flex;
    justify-content: space-between;
    padding: 10px;
}

.description-item div {
    display: flex;
    flex-direction: column;
}

span {
    word-wrap: break-word;
}

.description-item div span {
    margin: 10px 5px 5px 5px;
}

.list-item {
    width: 100%;
    margin-bottom: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-top: 1px solid;
}

.adverts {
    margin-top: 100px;
    font-size: 40px;
    color: #fff;
    display: flex;
    justify-content: center;
}

.list-title {
    display: flex;
    justify-content: center;
}