:root {

    --primary-color-darker: #2E2D30;
    --primary-color-light: #61495A;

    --font-color-darker: #121213;
    --font-color-light: #f1ecf0;
}

.grid{
    background-color: rgb(231, 169, 127);
    border: 2px solid #f1690e;
}

h1 {
    color: var(--primary-color-darker);
}

